.containerImageGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .img_container {
        width: calc(100% - 20px);
        max-width: 600px;
        height: auto;
        margin: 10px;

        .main_img {
            width: 100%;
            height: 100%;
            border-radius: 5%;
            box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);
            object-fit: cover;
        }

        .mainVideo {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    .thumbnail_container {
        width: 100%;
        max-width: 400px;
        height: auto;
        padding: 10px;
        display: flex;

        .thumbnail {
            width: 80px;
            height: 80px;
            max-width: 80px;
            max-height: 80px;
            margin-right: 10px;
            border-radius: 5%;
            cursor: pointer;
            object-fit: cover;
            opacity: .7;
            transition: all ease .3s;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.active {
    opacity: 1 !important;
    box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);
}

@media only screen and (max-width: 834px) {
    .containerImageGallery {
        .img_container {
            max-width: 90%;

            .mainVideo {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }

        .thumbnail_container {
            max-width: 100%;
            @include properties-flex(none, center, center);

            .thumbnail {
                width: 100%;
                height: 100%;
                max-width: 60px;
                max-height: 60px;
            }
        }
    }
}