@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css');

$color_1: #fff;
$color_2: #333;
$background-color_1: #053e80;
$background-color_2: #3b3b3b;
$background-color_3: #fff;

.Cabecera {
    position: relative;
    z-index: 9999;
    width: 100%;
    background-color: $background-color_1;
    padding: 1em;
    @include properties-flex(row, flex-end, center);
    color: $color_1;


    .Cabecera-ul {
        @include properties-flex(row, center, center);
        list-style: none;
        background-color: $background-color_1;

        .Cabecera-li {
            margin: 0 .5em;
            display: block;
            color: $color_1;
            padding: 0.5rem 1rem;
            transition: background-color 0.8s;
            text-decoration: none;
            border-radius: 10%;

            &:hover {
                background-color: #2e88ee;
            }
        }
    }

    .Cabecera-button {
        display: none;
        border: none;
        background-color: transparent;
        color: white;
        font-size: 24px;
        margin-right: 10px;
        cursor: pointer;
        transition: all 0.2s ease-in-out;

        &:hover {
            transform: scale(1.1);
        }

        &:focus {
            outline: none;
        }
    }
}

@media screen and (max-width:768px) {
    .Cabecera {
        .Cabecera-button {
            position: relative;
            display: flex;
            top: 0%;
        }

        .Cabecera-nav {
            width: 100%;
            @include properties-flex(row, center, center);
            height: 0vh;
            opacity: 0;
            overflow: hidden;
            transition: all .5s ease;
        }

        .Cabecera-nav.isActive {
            position: relative;
            height: fit-content;
            opacity: 1;
        }

        .menuAbierto {
            position: relative;
            top: -3rem;
            z-index: 99;
            left: 2%;
        }

        .Cabecera-ul {
            flex-direction: column;
            text-align: center;
            width: 100%;

            .Cabecera-li {
                width: 100%;
                margin: .5em 0;
            }
        }
    }

    .Cabecera.Active {
        display: flex;
        flex-wrap: wrap;
    }
}